body {
  /*background-image: url(http://images.all-free-download.com/images/graphicthumb/paper_floral_seamless_pattern_vector_582787.jpg);
  background-repeat: repeat-x;*/
}

.main-content {
  height: 800px;
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 0px;
}

header {
  background-color: grey;
  height: 100px;
}

header h1 {
  color: white;
  font-size: 50px;
  font-family: Arial;
  line-height: 100px;
  margin-left: 25px;
  display: inline-block;
  margin-top: 0px;
}

.side-bar {
  width: 200px;
  height: 700px;
  background: red;
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  color: white;
  vertical-align: top;
}

.main-content-area {
  height: 700px;
  width: 500px;
  display: inline-block;
  background-color: yellow;
}

.main-content-area p {
  font-size: 20px;
  padding-left: 15px;
}

nav {
  display: inline-block;
  font-size: 20px;
  color: white;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

/*apply this css if the screen is 500px or less*/
@media screen and (max-width: 711px){

  .main-content {
  margin-top: 0px;
  width: 100%;
  }

  body {
    margin: 0;
  }
  .side-bar {
    display: none;
  }
  .main-content-area {
    width: 100%;
  }

}
@media screen and (max-width: 528px){

  nav {
    display: block;
    background-color: red;
    width: 100%;
    text-align: center;

}

  nav ul {
    padding: 0;
    margin: 0;
  }

  nav ul li {
    display: block;
    border: solid black 1px;
    margin-right: 0;
}

  header {
    height: auto;

}
  header h1 {
    margin: 0px 0px 0px 15px;
  }
}


}



}
  


